<div footer class="text-white mb-3">
  <div footer class="card-body">
    <br>
    <center><h5 class="card-title text-white">PTA SERVIÇOS TERCEIRIZADOS LTDA</h5><br>
    <p class="text-white">CNPJ: 43.460.831/0001-59</p>
  </center>
  </div>
  </div>
