<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/adminCadastrarReuniao.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <title>Aniversariantes</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
      <div secao2>

        <form class="row g-3" action="/admin/reunioes/cadastrar" method="post">
          <div class="col-md-6">
            <label for="dia" class="form-label">Dia</label>
            <input type="date" class="form-control" placeholder="Digite o dia da reuniao" name="dia">
          </div>
          <div class="col-6">
            <label for="hora" class="form-label">Hora</label>
            <input type="text" class="form-control" placeholder="digite a hora da reuniao" name="hora">
          </div>
          <div class="col-12">
            <label for="assunto" class="form-label">Assunto</label>
            <input type="text" class="form-control" placeholder="digite o assunto" name="assunto">
          </div>
          <div class="col-md-12">
            <label for="colaborador" class="form-label">Participante 1</label>
            <input type="text" class="form-control" placeholder="digite o nome" name="participante1">
          </div>
          <% for( let criarDiv = 2; criarDiv <= 10; criarDiv++ ) { %>
            <div class="col-md-12">
              <label for="colaborador" class="form-label">Participante<%=criarDiv%></label>
              <input type="text" class="form-control" placeholder="digite o nome" name="participante<%=criarDiv%>">
            </div>
           <% } %> 
          <div class="col-12">
          </div>
          <div class="col-12">
            <center><button type="submit" class="btn btn-primary">Incluir</button></center>
          </div>
        </form>      
      </div>
    <%- include('partials/footer') %>
    <script type="/bootstrap/js/bootstrap.js"></script>
    <script></script>
  </body>
</html>
