body{
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 250px auto 150px;
  grid-template-columns: 5% 90% 5%;
  grid-template-areas:
               'cabecalho cabecalho cabecalho'
               'cabecalho2 cabecalho2 cabecalho2'
               'secao1 secao2 secao3'
               'footer footer footer';
}

[cabecalho] {
  grid-area: cabecalho;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(31,6,164,1) 40%, rgba(54,3,210,1) 70%, rgba(77,0,255,1) 97%);
}

[cabecalho2] {
  width: 100%;
  grid-area: cabecalho2;
  background-image:url('/css/img/bannerUser.jpg');
  background-size: cover;
}
[secao1] {
  grid-area: secao1;
}
[secao2] {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-area: secao2;
}
[secao3] {
  grid-area: secao3;
}
[footer]{
  grid-area: footer;  
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(31,6,164,1) 40%, rgba(54,3,210,1) 70%, rgba(77,0,255,1) 97%);
}
[card]{
  background-color: blue;
}
[cardInline]{
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
